<h1>Adicionar projeto</h1>

<%= form_for :projeto, url: projetos_path do |f| %>
    <% if @proj.errors.any? %>
        <% @proj.errors.full_messages.each do |msg| %>
            <div class="alert alert-danger"><%= msg %></div>
        <% end %>
    <% end %>

<p>
    <%= f.label :Título %><br>
    <%= f.text_field(:title, {:class => 'form-control'}) %>
</p>

<p>
    <%= f.label :Descrição %><br>
    <%= f.text_area(:description, {:class => 'form-control'}) %>
</p>

<p>
    <%= f.label :Prazo %><br>
    <%= f.date_field(:deadline, {:class => 'form-control'}) %>
</p>

<p>
    <%= f.submit({:class => 'btn btn-primary'}) %>
</p>

<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Bugs</h3>
					<span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
				</div>
				<div class="panel-body">
				    
                    <a class="btn btn-default btn-select">
                        
                        <input type="hidden" class="btn-select-input" id="bug" name="bug_selection" value="bug" />
                        <span class="btn-select-value">Select a type</span>
                        <span class='btn-select-arrow glyphicon glyphicon-chevron-down'></span>
                        <ul>
                            <li>Resolved</li>
                            <li class="selected">Problem</li>
                            
                        </ul>
                    </a>
                    
                    <%= f.label :Descrição %><br>
                    <%= f.text_field(:bug, {:class => 'form-control'}) %>
                </div>
			</div>
<% end %>